In [1]:
import numpy as np
import pandas as pd

### SOAL 1

In [2]:
import string
index = list(string.ascii_lowercase)
data = np.arange(0,26)
pd.Series(data, index)

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

### SOAL 2

In [3]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

In [4]:
pd.Series(d1)

a    100
b    200
c    300
d    400
e    800
dtype: int64

### SOAL 3

In [5]:
np.random.seed(101)
num_series = pd.Series(np.random.randint(1, 5, 100))
num_series

0     4
1     4
2     2
3     3
4     4
     ..
95    4
96    1
97    3
98    3
99    3
Length: 100, dtype: int32

In [12]:
idx = pd.Index(num_series)
most_frequent = idx.value_counts()
# top_2_freq = num_series.value_counts()[:2].values
# top_2_index = num_series.value_counts()[:2].index
print('Top 2 Freq are {} with freq {} and {} with freq {}'.format(most_frequent.index[0],most_frequent[most_frequent.index[0]],most_frequent.index[1],most_frequent[most_frequent.index[1]]))
# print('Top 2 Freq are {} with freq {} and {} with freq {}'.format(top_2_index[0],top_2_freq[0],top_2_index[1],top_2_freq[1]))

Top 2 Freq are 4 with freq 36 and 1 with freq 30

In [11]:
num_seriescopy = num_series.copy()
num_seriescopy[idx<4]='Other'
num_seriescopy

0         4
1         4
2     Other
3     Other
4         4
      ...
95        4
96    Other
97    Other
98    Other
99    Other
Length: 100, dtype: object